<section style="background-color: #1c768f" class="section has-text-white">

    <div class="columns">

        <div style="border-left: 10px solid #FA991C" class="column is-3 is-offset-1">

            <p><strong>Page Details</strong></p>

            {{ with .Params.author }}
            <p><span style="color: #032539">Page author:</span> <a href="/a/{{ urlize . }}">{{ . }}</a></p>
            {{ end }}

            {{ with .PublishDate }}
            <p><span style="color: #032539">This page created on:</span> {{ dateFormat "02/01/2006" . }}</p>
            {{ end }}

            {{ with .Params.LastModifiedDate }}
            <p><span style="color: #032539">Last modified:</span> {{ dateFormat "02/01/2006" . }}</p>
            {{ end }}

            {{ with .Params.wikipedia }}
            <p><span style="color: #032539">Wikipedia:</span> <a target="_blank" href="{{ . }}">{{ . }}</a></p>
            {{ end }}

        </div>

        {{ if (isset .Params "source") }}
        <div style="border-left: 10px solid #FA991C" class="column is-3">

            <p><strong>Source Details</strong></p>

            {{ with .Params.sourceauthor }}
            <p><span style="color: #032539">Author(s):</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.translator }}
            <p><span style="color: #032539">Translator:</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.editor }}
            <p><span style="color: #032539">Editor(s):</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.editionyear }}
            <p><span style="color: #032539">Edition published in:</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.originalyear }}
            <p><span style="color: #032539">Original published in:</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.publisher }}
            <p><span style="color: #032539">Published by:</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.location }}
            <p><span style="color: #032539">Location:</span> {{ . }}</p>
            {{ end }}

            {{ with .Params.link }}
            <p><span style="color: #032539">Direct link:</span> <a target="_blank" title="{{ . }}" href="{{ . }}">Click here</a></p>
            {{ end }}

        </div>


        <div style="border-left: 10px solid #FA991C" class="column is-4">
            <p><strong>Abstract</strong></p>
            {{ .Params.abstract }}

        </div>

        {{ else }}

        <div style="border-left: 10px solid #FA991C" class="column is-7">
            <p><strong>Abstract</strong></p>
            {{ .Params.abstract }}

        </div>

        {{ end }}

    </div>
</section>