<div id="add-resource-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="subtitle">Add a new link to your favourite organisation, podcast, or other online resource...</h2>
            <form name="new-resource" method="POST" data-netlify="true">

                <div class="field">
                    <label for="url" class="label">URL / Link Address (include full address with https://)</label>
                    <div class="control">
                    <input name="url" class="input" type="url" id="url" placeholder="https://www.your.link.here.com" required>
                    </div>
                </div>

                <hr>
                <p class="mb-3">Want to get credit for adding this resource? Just let us know how your name should appear 🥰</p>

                <div class="field">
                    
                    <label for="name" class="label">Name (optional)</label>
                    <div class="control">
                    <input name="name" class="input" type="text" id="name" placeholder="Tell us your name...">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Your email address (optional)</label>
                    <div class="control has-icons-left has-icons-right">
                    <input name="email" for="email" class="input" type="email" id="email" placeholder="you@email.com" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    </div>
                </div>
                
                <div class="field">
                    <label for="message" class="label">Any comments? (optional)</label>
                    <div class="control">
                    <textarea name="message" class="textarea" id="message" placeholder=""></textarea>
                    </div>
                </div>
                
                <div class="field is-grouped">
                    <div class="control">
                    <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                    <a id="close-add-resource-button" class="button is-link is-light">Cancel</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <button id="close-new-resource-modal" class="modal-close is-large" aria-label="close"></button>
    </div>

<script>
    document.getElementById("addNewResourceButton").addEventListener("click",function(){
        document.getElementById("add-resource-modal").className += " is-active";
    });

    document.getElementById("close-new-resource-modal").addEventListener("click",function(){
        document.getElementById("add-resource-modal").className = "modal";
    });

    document.getElementById("close-add-resource-button").addEventListener("click",function(){
        document.getElementById("add-resource-modal").className = "modal";
    });
</script>