<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body>

        {{ partial "navbar.html" . }}

        <section style="background-color: #032539" class="hero is-small">
            <div class="hero-body">
                <div class="container has-text-white has-text-centered">
                    <h1 class="title has-text-white is-size-1">
                    {{ .Title }}
                    </h1>
                </div>
            </div>
        </section>
        
        <section style="background-color: #1c768f" class="section has-text-white">
            <div class="columns">
                <div style="border-left: 10px solid #FA991C" class="column is-8 is-offset-2">
                    {{ .Params.abstract}}
                </div>        
            </div>
        </section>

        <section style="background-color: #FBF3F2" class="section">
            
            <div class="container">
        
                <div class="columns is-multiline">
                        {{ range .Pages }}
                        <div class="column is-one-quarter">
                          <article class="tile is-child box">
                                <p class="title">{{ .Title }}</p>
                                <p class="subtitle">{{ .Params.abstract | truncate 100 }}</p>
                                <p><a href="{{.Permalink}}">Start reading...</a></p>
                          </article>
                        </div>
                        {{ end }}
                      </div>
        
            </div>
            
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>
