    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@_ocrs_" />
        <meta name="twitter:creator" content="@_ocrs_" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }}" />

        {{ if (isset .Params "abstract") }}
        <meta property="og:description" content="{{ .Params.abstract }}" />
        <meta property="twitter:description" content="{{ .Params.abstract }}" />
        {{ else }}
        <meta property="og:description" content="Understanding Religion is a website that aims to provide easy access to information about the study of religion, published by the Online Centre for Religious Studies. Always free, written clearly for a wide audience, grounded in academic study and supported by references for those who want to dive deeper." />
        <meta property="twitter:description" content="Understanding Religion is a website that aims to provide easy access to information about the study of religion, published by the Online Centre for Religious Studies. Always free, written clearly for a wide audience, grounded in academic study and supported by references for those who want to dive deeper." />
        {{ end }}

        {{ if (isset .Params "image") }}
        <meta property="og:image" content="https://www.understandingreligion.org.uk/img/images/{{ .Params.image }}" />
        <meta property="twitter:image" content="https://www.understandingreligion.org.uk/img/images/{{ .Params.image }}" />
        {{ else }}
        <meta property="og:image" content="https://www.understandingreligion.org.uk/img/logo.jpg" />
        <meta property="twitter:image" content="https://www.understandingreligion.org.uk/img/logo.jpg" />
        {{ end }}

        <script>
          document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
              // Add a click event on each of them
              $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
              });
            }
          });
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <script type="text/javascript" src="https://api.pirsch.io/pirsch.js" 
          id="pirschjs" 
          data-code="u8UEvdvff8phpld8FMC5xdbZ0KaOIpoM"></script>

    </head>
