<section style="background-color: #1c768f" class="section has-text-white">

    <div class="columns">

        <div style="border-left: 10px solid #FA991C" class="column is-3 is-offset-1">

            {{ if (isset .Params "authorpage") }}
            <p><span style="color: #032539">Author(s):</span> <a href="{{ .Params.authorpage }}">{{ .Params.sourceauthor }}</a></p>
            {{ else }}
            <p><span style="color: #032539">Author(s):</span> {{ .Params.sourceauthor }}</p>
            {{ end }}

            {{ if (isset .Params "translator")}}
            <p><span style="color: #032539">Translator:</span> {{ .Params.translator }}</p>
            {{ end }}

            {{ if (isset .Params "editor")}}
            <p><span style="color: #032539">Editor(s):</span> {{ .Params.editor }}</p>
            {{ end }}

            <p><span style="color: #032539">Edition published in:</span> {{ .Params.editionyear }}</p>

            <p><span style="color: #032539">Original published in:</span> {{ .Params.originalyear }}</p>

            <p><span style="color: #032539">Published by:</span> {{ .Params.publisher }}</p>

            <p><span style="color: #032539">Location:</span> {{ .Params.location }}</p>

            {{ if (isset .Params "wikipedia") }}
            <p><span style="color: #032539">Wikipedia:</span> <a target="_blank" href="{{ .Params.wikipedia }}">{{ .Params.title }}</a></p>
            {{ end }}

        </div>


        <div style="border-left: 10px solid #FA991C" class="column is-7">

            {{ .Params.abstract }}

        </div>

    </div>
</section>