<!DOCTYPE html>
<html class="has-navbar-fixed-top">

    {{ partial "head.html" . }}

    <body>

        {{ partial "navbar.html" . }}

        <section style="background-color: #032539" class="hero is-small">
            <div class="hero-body">
                <div class="container has-text-white has-text-centered">
                    <h1 class="title has-text-white is-size-1">
                    {{ .Title }}
                    </h1>
                </div>
            </div>
        </section>
        
        <section style="background-color: #1c768f" class="section has-text-white">

            <div class="columns">
        
                <div style="border-left: 10px solid #FA991C" class="column is-8 is-offset-2">

                    {{ if (isset .Params "abstract") }}
                    <h2 class="subtitle has-text-white">{{ .Params.abstract}}</h2>
                    {{ end }}
        
                    <input id="searchbox" class="input is-size-4" type="text" placeholder="Search {{ .Title }}..." onkeyup="search()">
        
                </div>
        
            </div>
        </section>

        <section style="background-color: #FBF3F2" class="section">
            
            <div class="container">


                <div class="columns is-multiline">
                    {{ range .Pages.ByTitle }}
                    <div class="item column is-one-quarter">
                        
                        {{ if (isset .Params "image" )}}
                        <img style="max-height: 200px; min-height: 200px; min-width: 100%; object-fit: cover; position: relative; top: 15px" src="/img/thumbnails/{{ .Params.image }}">
                        {{ else }}
                        <img style="max-height: 200px; min-height: 200px; min-width: 100%; object-fit: cover; position: relative; top: 15px" src="/img/logo.jpg">
                        {{ end }}
                        
                        <article class="tile is-child box">

                        {{ if (isset .Params "categories") }}
                        {{ range .Params.categories }}
                        <p style="background-color: #032539; color: #FFF; position: relative; top: -30px; left: -10px; padding: 5px; margin: 0px; display: inline-block"><a style="border-bottom: none;" href="/categories/{{ . | urlize }}">{{ . }}</a></p>
                        {{ end }}
                        {{ else }}
                        {{ end }}
                    
                        {{ if (eq .Params.source true) }}
                        {{ range .Params.sourcetypes }}
                        <p style="background-color: #FA991C; color: #000000; position: relative; top: -30px; left: -10px; padding: 5px; margin: 0px; display: inline-block"><a href="/sourcetypes/{{ . | urlize }}">{{ . }}</a></p>
                        {{ end }}
                        {{ end }}
                            
                        <p class="title item-title">{{ .Title }}</p>
                        
                        {{ if (eq .Params.source true) }}
                        <p class="subtitle"><span class="item-author">{{ .Params.sourceauthor }}</span> {{ with .Params.originalyear }}(<span class="item-year">{{ . }}</span>){{end}}</p>
                        {{ end }}
                        
                        <p class="item-abstract">{{ .Params.abstract | truncate 100 }}</p>
                        
                        <p style="margin-top: 5px"><a href="{{.Permalink}}">Start reading...</a></p>

                        {{ if (isset .Params "tags") }}
                        <hr>
                        <div class="item-taglist">
                            {{ range .Params.tags }}
                            <span><a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a></span>&nbsp;
                            {{ end }}
                        </div>
                        {{ else }}
                        {{ end }}

                        <p class="searchstring" style="display: none">

                            {{ with .Params.categories }}
                            {{ . }}
                            {{ end }}    

                            {{ with .Params.sourcetypes }}
                            {{ . }}
                            {{ end }}

                            {{ .Title }}

                            {{ with .Params.sourceauthor }}
                            {{ . }}
                            {{ end }}

                            {{ with .Params.originalyear }}
                            {{ . }}
                            {{ end }}

                            {{ with .Params.abstract }}
                            {{ . }}
                            {{ end }}

                            {{ with .Params.tags }}
                            {{ . }}
                            {{ end }}
                            
                        </p>

                      </article>
                    </div>
                    {{ end }}
                </div>

            </div>
            
            
        </section>

        <!-- CONTROL PANEL -->
        <div id="controlpanel" class="level is-mobile" style="position: fixed; bottom: 0px; margin: 0px; padding: 5px; width: 100%; background-color: #DADADA">
            <div class="level-item has-text-centered">
                <a id="launch-search-modal" style="color: inherit">
                    <p class="heading">Search</p>
                    <p class="title">
                        <i class="fas fa-search"></i>
                    </p>
                </a>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Pages</p>
                    <p class="title">{{ len .Pages.ByTitle }}</p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <a href="#top" style="color: inherit">
                    <p class="heading">Top</p>
                    <p class="title">
                        <i class="fas fa-chevron-circle-up"></i>
                    </p>
                </a>
            </div>

        </div>
        <!-- CONTROL PANEL -->

        <!-- SEARCH MODAL -->
        <div id="search-modal" class="modal">
            <div class="modal-background"></div>
            <div class="container is-fluid" style="position: absolute; top: 25px">
                <div class="columns is-mobile">
                    <div class="column is-10">
                        <input style="font-size: 1.5rem" onkeyup="m_search()" id="mobile-input" placeholder="Search {{ .Title }}" style="margin-bottom: 10px;" type="text" class="input">
                        {{ range .Pages.ByTitle }}
                        <p class="m_result-item" style="display: none; padding: 5px; border-bottom: 1px solid grey">
                            <a class="m_result-link" style="color: white;" href="{{ .Permalink }}">
                               {{ .Title }}
                            </a>
                        </p>
                        <p class="m_searchstring" style="display: none">

                            {{ with .Params.categories }}
                            {{ . }}
                            {{ end }}
                            
                            {{ with .Params.sourcetypes }}
                            {{ . }}
                            {{ end }}
                            
                            {{ .Title }}
                            
                            {{ with .Params.sourceauthor }}
                            {{ . }}
                            {{ end }}
                            
                            {{ with .Params.originalyear }}
                            {{ . }}
                            {{ end }}
                            
                            {{ with .Params.abstract }}
                            {{ . }}
                            {{ end }}
                            
                            {{ with .Params.tags }}
                            {{ . }}
                            {{ end }}
                            
                        </p>
                        {{ end }}
                    </div>
                    <div class="column is-2">
                        <button onclick="closeModal()" class="has-background-danger modal-close is-large"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF SEARCH MODAL -->
        
        {{ partial "footer.html" . }}
    </body>
</html>
