<!DOCTYPE html>
<html class="">

    {{ partial "head.html" . }}

    <body>
        {{ partial "navbar.html" . }}

        <section style="background-color: #032539" class="hero is-small">
            <div class="hero-body">
                <div class="container has-text-white has-text-centered">
                    <h1 class="title has-text-white is-size-1">
                    {{ .Title }}
                    </h1>
                </div>
            </div>
        </section>
        
        {{ partial "abstract.html" . }}

        {{ $cloudinary := .Site.Params.cloudinary_url }}
        {{ with .Params.image }}
        <img src="{{ $cloudinary }}/w_2000,c_limit/v1628716054/religion/{{ . }}" class="mediumbanner">
        {{ end }}

        <div class="has-text-centered mt-5 p-3" style="background-color:#FA991C; color:#032539">
            <p>The 2024 OCRS survey is open until 31 March, you can access it here: <a href="https://forms.gle/VwxYBaFhQLtbTiqy5">https://forms.gle/VwxYBaFhQLtbTiqy5</a></p>
        </div>

        <section style="background-color: #FAFAFA; margin-bottom: 0px" class="section content">
          <div class="columns">
              <div class="column is-8 is-offset-2">

                {{ if (isset .Params "categories") }}
                {{ range .Params.categories }}
                <p style="background-color: #032539; color: #FFF; padding: 5px; margin: 0px 0px 10px 0px; display: inline-block"><a style="border-bottom: none;" href="/categories/{{ . | urlize }}">{{ . }}</a></p>
                {{ end }}

                {{ else }}
                {{ end }}

                {{ if (isset .Params "sourcetypes") }}
                {{ range .Params.sourcetypes }}
                <p style="background-color: #FA991C; color: #000; padding: 5px; margin: 0px 0px 10px 0px; display: inline-block"><a style="border-bottom: none;" href="/sourcetypes/{{ . | urlize }}">{{ . }}</a></p>
                {{ end }}

                {{ else }}
                {{ end }}
                    <div class="item-taglist">
                        {{ range .Params.tags }}
                        <span><a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a></span>&nbsp;
                        {{ end }}
                    </div>

                    {{ if .Params.toc }}
                    <div class="card mt-4">
                        <div class="card-content">
                            <p class="title">Table of Contents</p>
                            {{ .TableOfContents }}
                        </div>
                    </div>
                    {{ end }}
                    
                    <div class="mt-4">
                        {{ .Content }}
                        
                        <hr>
                        <p class="is-size-3 has-text-weight-bold">Support the site</p>
                        <p>If you find the resources on this site helpful, please consider a small donation - it makes a big difference! You can also share your thoughts and suggestions, which are always welcome.<p>
                        <a href="https://www.buymeacoffee.com/lukeburns" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
                        <hr>

                        {{ partial "book-block.html" . }}

                        {{ $related := .Site.RegularPages.RelatedIndices . "tags" "categories" | first 5 }}
                        {{ with $related }}
                        <h1>See also</h1>
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
  
              </div>
          </div>
            
        </section>

        <!-- CONTROL PANEL -->
        <div id="controlpanel" class="level is-mobile" style="position: fixed; bottom: 0px; margin: 0px; padding: 5px; width: 100%; background-color: #DADADA">
            <div class="level-item has-text-centered">
                <a id="launch-search-modal" style="color: inherit">
                    <p class="heading">Search</p>
                    <p onclick="launch_search_modal()" class="title">
                        <i class="fas fa-search"></i>
                    </p>
                </a>
            </div>

            <div class="level-item has-text-centered">
                <a id="report" href="#top" style="color: inherit">
                    <p class="heading">Report</p>
                    <p class="title">
                        <i class="fas fa-exclamation-triangle"></i>
                    </p>
                </a>
            </div>

            <div class="level-item has-text-centered">
                <a href="#top" style="color: inherit">
                    <p class="heading">Top</p>
                    <p class="title">
                        <i class="fas fa-chevron-circle-up"></i>
                    </p>
                </a>
            </div>

        </div>
        <!-- CONTROL PANEL -->

        {{ partial "footer.html" . }}

        {{ partial "add-resource-modal.html" . }}

        {{ partial "site-search-modal.html" . }}

        <div id="report-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h2 class="subtitle">Something wrong? Let us know!</h2>
                    <form name="report" method="POST" data-netlify="true">
    
                        <div class="field">
                            <label for="name" class="label">Name</label>
                            <div class="control">
                            <input name="name" class="input" type="text" id="name" placeholder="Tell us your name...">
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                            <input name="email" for="email" class="input" type="email" id="email" placeholder="you@email.com" value="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            </div>
                        </div>
    
                        <div class="field">
                            <label style="display: none" for="page" class="label">Page</label>
                            <div class="control">
                            <input type="hidden" name="page" class="input" id="page" value="{{ .Permalink }}" readonly>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label for="message" class="label">Message</label>
                            <div class="control">
                            <textarea name="message" class="textarea" id="message" placeholder="I have a question about the {{ .Title }} page..."></textarea>
                            </div>
                        </div>
                        
                        <div class="field is-grouped">
                            <div class="control">
                            <button class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                            <a id="close-report-button" class="button is-link is-light">Cancel</a>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <button id="close-report" class="modal-close is-large" aria-label="close"></button>
            </div>

        <script>
            document.getElementById("report").addEventListener("click",function(){
                document.getElementById("report-modal").className += " is-active";
            });

            document.getElementById("close-report").addEventListener("click",function(){
                document.getElementById("report-modal").className = "modal";
            });

            document.getElementById("close-report-button").addEventListener("click",function(){
                document.getElementById("report-modal").className = "modal";
            });
        </script>

    </body>
</html>
